html {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}


.AddModal {
    width: 500px;
    max-height: 80%;
    
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    padding-top: 25px;
    padding-bottom: 20px;
    
    background-color: #1F1F1F;
    border-radius: 30px;

    z-index: 10000;

    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.AddModal::-webkit-scrollbar{
    display: none;
}

.ModeButtonBox{
    width: 300px;
    margin: auto;
    border:1px white solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModeButtonInner{
    outline: none;
    border: none;
}

.centerDiv{
    display: flex;
    justify-content: center;
}

.AddModalInput{
    width: calc(100% - 50px);
    text-align: left;
}
.AddModalInput:placeholder-shown{
    border-bottom: 2px solid #999999;
}
.AddModalInput::placeholder{
    color:#999999;
}

.searchResultBox{
    position: absolute;
    background-color: #101010;
    transform: translate(-30px,60px);
    width:400px;
    max-height: 350px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.searchResultBox::-webkit-scrollbar{
    display: none;
}
.searchResultInd{
    display: flex;
    align-items: center;
    margin:10px;
    cursor: pointer;
}
.searchResultInd:hover{
    background-color:#3a3a3a;
}
.searchArtwork{
    display: block;
    margin: 5px;
    width:80px;
    margin-right: 15px;
}
.searchAlbumTitle{
    font-weight: 600;
}
.searchAlbumArtist{
    font-size: 16px;
    color:#999999;
}


.albumArt{
    display: block;
    width:180px;
    height:180px;
    margin-inline: 25px;
}

.AlbumTitleModal{
    font-weight: 900;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.AlbumAttributeBoxModal{
    display: flex;
    justify-content: left;
}
.AlbumAttributeNameModal{
    display: inline-block;
    width: 130px;
    margin-bottom: 4px;
}
.AlbumAttributeDataModal{
    display: inline-block;
    width: 140px;
}

.AlbumReviewBoxModal{
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    width: calc(100% - 50px);
    /* height: 100%; */

    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 5px;

    margin-bottom: 20px;

    overflow-wrap: break-word;
    resize: none;
    padding: 0;
}
.AlbumReviewBoxModal::-webkit-scrollbar{
    display: none;
}

.buttonBox{
    display: flex;
    justify-content: center;
}

button{
    font-family: 'Inter', sans-serif;
    font-size: 20px;

    margin-inline: 15px;

    background-color: transparent;
    width:100px;
    height: 45px;
    border-radius: 20px;

    cursor: pointer;
}

.cancleButton{
    border: 1px solid #999999;
    color: #999999;
}
.deleteButton{
    border: 1px solid #cf6679;
    color: #cf6679;
}