html {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
}

.AlbumReviewPage{
    display:flex;
    justify-content: center;
    height:100%;
    min-height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.AlbumReviewPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Change the last value (0.6) to adjust the darkness */
    backdrop-filter: blur(20px);
    z-index: -1;
}

.AlbumArtworkBox{
    width: min(56vw, calc(50vw + 100px));
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 3vw;
    padding-top: 5vh; 
}

.AlbumArtwork{
    width: min(80vh, 56vw, calc(50vw + 100px));
    object-fit: cover;
}

.return{
    width:min(80vh, 56vw, calc(50vw + 100px));
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: auto;
    cursor: pointer;
    text-align: left;
}

a{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
a:focus{
    text-decoration: none;
    color: white;
}

.AlbumInfoBox{
    width:400px;
    text-align: left;
    /* border: 1px solid white; */
    height: calc(min(80vh, 56vw, calc(50vw + 100px)) + 80px);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.AlbumInfoBox::-webkit-scrollbar{
    display: none;
}

.AlbumTitle{
    font-weight: 900;
    font-size: 32px;
    margin-top: calc(5vh + 39px);
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.Delete{
    cursor: pointer;
    fill:white
}

.AlbumAtribute{
    display: inline-block;
    width: 150px;
    margin-bottom: 4px;
}

.AlbumReviewBox{
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    width: calc(100% - 2px);
    /* height: 100%; */
    margin-left: 1px;
    overflow-wrap: break-word;
    resize: none;
    padding: 0;
}
.AlbumReviewBox::-webkit-scrollbar{
    display: none;
}

.AlbumReviewBox:hover{
    outline: 1px solid #51AACF;
    box-sizing: border-box;
    border-radius: 6px;
}
.AlbumReviewBox:focus{
    outline: 1px solid #51AACF;
    box-sizing: border-box;
    border-radius: 6px;
}
.AlbumReviewBox:disabled{
    outline: none;
    cursor:text;
}