html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    --img_size: 10vw;
    --max_img_size: 124.8px;
    --gap_size: 1vw;
}

.AlbumListPage{
    display:flex;
    justify-content: center;
    height:100%;
    min-height: 100vh;
    width:100%;
    background-color:#121212;
}

.Grade {
    display: block;
    color: white;
    font-size: 24px;
    padding-bottom: 5px;
    margin-left:min(20px, var(--gap_size));
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    height: 24px;
    width: 54vw;
}

.IconBox{
    display: inline-block;
    width: 20px;
    height: 24px;
    cursor:pointer;
    text-align: center;
}
.Icon{
    height:16px;
}
#delete{
    fill:#999999;
}
#delete:hover{
    fill:white;
}
#update{
    stroke: #999999;
}
#update:hover{
    stroke: white;
}



.divide_line{
    height: 30px;
    display: block;
}

.grade_box_initial {
    height: 29px;
    display: block;
}


.album_box{
    margin:0px;
    padding:0px;   
}

.album_img{
    width: var(--img_size);
    /* max-width: var(--max_img_size); */
    /* height: 100%; */
    object-fit: cover;
    margin-top: calc(var(--gap_size) / 2);
    margin-bottom: calc(var(--gap_size) / 2);
}

.album_text_box{
    height: var(--img_size);
    /* max-height: var(--max_img_size); */
    padding-top: calc(calc(var(--gap_size) / 2));
    padding-bottom: calc(calc(var(--gap_size) / 2) + 5px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.albumNameBox{
    color: white;
    width: fit-content;
    height: 21px;
    font-size: 20px;;
}

.AddButton {
    width: var(--gap_size);
    max-width: 20px;
    height: var(--img_size);
    /* max-height: var(--max_img_size); */
    margin-bottom: calc(var(--gap_size) / 2);
    /* vertical-align: super; */
}

.AddButton:hover{
    stroke:white;
    cursor: pointer;
    /* height: var(--img_size);
    max-height: var(--max_img_size); */
    stroke-width: 2px;
}

.AlbumListImage{
    /* width: (50vw + 50px); */
    /* max-width: 1400px; */
    display: inline-block;
    margin-right: 3vw;
    /* border: 1px solid red; */
}

.AlbumListText{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.userName{
    /* width: calc(53vw+360px); */
    text-align: left;
    color: white;
    font-size: 60px;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding-left: min(var(--gap_size), 20px);
    max-width: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.userNameHolder{
    height: 132px
}