html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    --img_size: 10vw;
    --max_img_size: 124.8px;
    --gap_size: 1vw;
}

.AlbumListPage{
    position: relative;
    display:flex;
    justify-content: center;
    height:100%;
    min-height: 100vh;
    width:100%;
    overflow:hidden;
    padding-bottom: 50px;
}

.backgroundWrapper{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
}

.Grade {
    display: flex;
    color: white;
    font-size: 24px;
    padding-bottom: 5px;
    margin-left:min(20px, var(--gap_size));
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    height: 24px;
    width: 54vw;
}

.IconBox{
    display: inline-block;
    width: 20px;
    height: 24px;
    cursor:pointer;
    text-align: center;
}
.Icon{
    height:16px;
}
#delete{
    fill:#999999;
}
#delete:hover{
    fill:white;
}
#update{
    stroke: #999999;
}
#update:hover{
    stroke: white;
}
#plus{
    height: 20px;
    /* padding-ts; */
    fill:#999999
}
#plus:hover{
    fill: white
}
#camera{
    fill: #999999;
}
#camera:hover{
    fill: white;
}



.divide_line{
    height: 30px;
    display: block;
}

.grade_box {
    height: 29px;
    display: block;
}
.grade_box_initial{
    height: 29px;
    display: flex;
    justify-content: right;
}


.album_box{
    margin:0px;
    padding:0px;   
}

.album_img{
    width: var(--img_size);
    height: var(--img_size);
    /* max-width: var(--max_img_size); */
    /* height: 100%; */
    object-fit: cover;
    margin-top: calc(var(--gap_size) / 2);
    margin-bottom: calc(var(--gap_size) / 2);
}

.add_album_box{
    width: var(--img_size);
    height: var(--img_size);
    outline: 2px dashed #999999;

    margin-left: min(var(--gap_size), 20px);
    margin-top: calc(var(--gap_size) / 2);
    margin-bottom: calc(var(--gap_size) / 2);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.add_album_plus{
    width: calc(var(--img_size) / 2);
    color: #999999;
}

.album_text_box{
    height: var(--img_size);
    /* max-height: var(--max_img_size); */
    padding-top: calc(calc(var(--gap_size) / 2));
    padding-bottom: calc(calc(var(--gap_size) / 2) + 5px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.albumNameBox{
    color: white;
    width: fit-content;
    height: 21px;
    font-size: 20px;;
}
.AddButtonBox{
    display: inline-block;
    width: var(--gap_size);
    max-width: 20px;
}
.AddButton {
    display: inline-block;
    width: var(--gap_size);
    max-width: 20px;
    height: var(--img_size);
    /* max-height: var(--max_img_size); */
    margin-bottom: calc(var(--gap_size) / 2);
    /* vertical-align: super; */
}

.AddButton:hover{
    stroke:white;
    cursor: pointer;
    /* height: var(--img_size);
    max-height: var(--max_img_size); */
    stroke-width: 2px;
}

.AlbumListImage{
    width: 56vw;
    max-width: calc(50vw + 120px);
    display: inline-block;
    margin-right: 3vw;
    /* border: 1px solid red; */
}

.AlbumListText{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.userName{
    text-align: left;
    color: white;
    font-size: 60px;
    height: 72.8px;
    margin-top:30px;
    margin-bottom: 30px;
    padding-left: min(var(--gap_size), 20px);
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.userNameHolder{
    height: 132px;
    display: flex;
    justify-content: right;
    align-items: end;
}

#LogInText{
    color:#999999;
    margin-bottom: 40px;
}
#LogInText:hover{
    color:white;
    cursor: pointer;;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* adjust the z-index value as needed */
}